{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{% static 'scripts.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://kit.fontawesome.com/2b25b5ad72.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

<body>

<!-- Navbar -->
<div class="container">
    <div class="navigation">
        <ul>
            <li id="header">
                <a href="/admin">
                    <span class="icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                    <span class="title">
              <h2>VINAYAK MART</h2>
            </span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/transaction">
                    <span class="icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                    <span class="title">New Transaction</span>
                </a>
            </li>
            <li>
                <a href="/order">
                    <span class="icon"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
                    <span class="title">Place Order</span>
                </a>
            </li>
            <li>
                <a href="/inventory">
                    <span class="icon"><i class="fa fa-archive" aria-hidden="true"></i></span>
                    <span class="title">Inventory status</span>
                </a>
            </li>
            <li>
                <a href="/sales">
                    <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <span class="title">New sales return</span>
                </a>
            </li>
            <li>
                <a href="/purchase">
                    <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <span class="title">New purchase return</span>
                </a>
            </li>
            <li>
                <a href="/customer">
                    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <span class="title">Customers</span>
                </a>
            </li>
            <li>
                <a href="/staff">
                    <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                    <span class="title">Staffs</span>
                </a>
            </li>
            <li>
                <a href="/graphs">
                    <span class="icon"><i class="fas fa-chart-bar" aria-hidden="true"></i></span>
                    <span class="title">Analysis</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
            <div class="user">
                <img src="{% static 'user.jpg' %}"/>
            </div>
        </div>

        <!-- Cards -->
        <h1 class="pagename">DASHBOARD</h1>
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">{{ CountOrders }}</div>
                    <div class="cardName">Sales</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">{{ CountCustomers }}</div>
                    <div class="cardName">Customers</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">Rs. {{ income }}</div>
                    <div class="cardName">Income</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">Rs. {{ expense }}</div>
                    <div class="cardName">Expenditure</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
            </div>

            <div class="details">
                <div class="recentProducts">
                    <div class="cardHeader">
                        <h2>TODAY'S TRANSACTIONS</h2>

                    </div>
                    <table>
                        <thead>
                        <tr>
                            <td>Order ID</td>
                            <td>Order Date</td>
                            <td>Phone no.</td>
                            <td>Invoice</td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for Order in AllOrders %}

                            <tr>
                                <td>{{ Order.order_id }}</td>
                                <td>{{ Order.order_date }}</td>
                                <td>{{ Order.customer_ph_no }}</td>
                                <td><a href="/generatepdf/{{ Order.order_id }}">
                                    <button class="btn btn-primary" value="{{ Order.order_id }}">View</button>
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="details">
                <div class="recentProducts">
                    <div class="cardHeader">
                        <h2>ITEMS TO BE RESTOCKED</h2>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <td>Brand</td>
                            <td>Name</td>
                            <td>Quantity</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for Product in ProductsOFS %}
                            <tr>
                                <td>{{ Product.brand }}</td>
                                <td>{{ Product.product_name }}</td>
                                <td>{{ Product.available_stock }}</td>
                                <td><span class="status outofstock">Restock Now</span></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>