{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="{% static 'scripts.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sales Return</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

  <!-------------------- Navbar ------------------------------->
  <div class="container">
    <div class="navigation">
      <ul>
        <li id="header">
          <a href="/admin">
            <span class="icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
            <span class="title">
              <h2>VINAYAK MART</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="/">
            <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/transaction">
            <span class="icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
            <span class="title">New Transaction</span>
          </a>
        </li>
        <li>
          <a href="/order">
            <span class="icon"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
            <span class="title">Place Order</span>
          </a>
        </li>
        <li>
          <a href="/inventory">
            <span class="icon"><i class="fa fa-archive" aria-hidden="true"></i></span>
            <span class="title">Inventory status</span>
          </a>
        </li>
        <li>
          <a href="/sales">
            <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
            <span class="title">New sales return</span>
          </a>
        </li>
        <li>
          <a href="/purchase">
            <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
            <span class="title">New purchase return</span>
          </a>
        </li>
        <li>
          <a href="/customer">
            <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
            <span class="title">Customers</span>
          </a>
        </li>
        <li>
          <a href="/staff">
            <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
            <span class="title">Staffs</span>
          </a>
        </li>
      </ul>
    </div>

    <!--------------------------------Topbar-------------------------->
    <div class="main">
      <div class="topbar">
        <div class="toggle" onclick="toggleMenu();"></div>
        <div class="user">
          <img src="{% static 'user.jpg' %}" />
        </div>
      </div>
      <!-----------------------Sales return----------------------------->
      <h1 class="pagename">SALES RETURN</h1>

      <div class="container">

        <div class="sales">

          <div class="left-coll">
            <form action="/sales" method="post">
                {% csrf_token %}

              <label for="order_id">ORDER ID</label>

            <select name="order_id" id="order_id">
              <option disabled selected="true"> --Select -- </option>
                  {% for order in AllOrders %}
                <option value="{{ order.order_id }}">{{ order.order_id}}</option>
                  {% endfor %}
              </select>




              <h3>PRODUCTS RETURNED :</h3>
              <label for="product"> Product ID</label>
              <select name="product" id="product">
              <option disabled selected="true"> --Select -- </option>
                  {% for pid in AllProductIDs %}
                <option value="{{ pid.product_id }}">{{ pid.brand }} - {{ pid.product_name }}</option>
                  {% endfor %}
              </select>

              <label for="">QUANTITY</label>
              <input type="text" id="quantity" name="quantity">

            <input type="button" class="send-message-cta" value="Add">

            <label for="batch">REPLACEMENT ORDER ID</label>
            <input type="text" id="r_order_id" name="r_order_id">
            <label for="text">AMOUNT TO BE RETURNED</label>
            <input type="text" id="amount" name="amount" value="0">

                <input type="submit" class="send-message-cta" value="SAVE">

            </form>
          </div>

          <div class="right-coll">

            <div class="details">
              <label for="">DATE</label>
              <input type="text" id="date" name="date" value="{% now "SHORT_DATE_FORMAT" %}" disabled>
              <div class="recentProducts">
                <div class="cardHeaderpurchase">
                  <h2>PRODUCTS</h2>
                </div>
                <table id = "showdata">
                  <thead>
                    <tr>
                      <td>ID</td>
                      <td>Name</td>
                      <td>Price</td>
                      <td>Quantity</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                    </tr>

                  </tbody>
                </table>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'order_ShowProducts.js' %}"></script>
<script src="{% static 'order_ChainedDropdown.js' %}"></script>

</body>

</html>